* {
    font-family: 'Montserrat';
}

.borderLine {
    width: 100%;
}

#code-header {
    margin-bottom: 10px;
}

#index {
    display: flex;
    flex-direction: column;
    gap: 20;
}

#index-main {
    display: flex;
    gap: 20   
}

#code-container-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#code-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 10;
    width: 20vi;
}


#code-container-result {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#run-button {
    width: 20%;
    padding: 10px 16px;
    background-color: #bdbdbd;
    border-radius: 8px;
    color:white;
    text-align: center;
}

#result-label {
    padding: 10px 16px;
    border: 1px solid black;
    border-radius: 8px;
    width: 40%;
    text-align: center;
}

#run-button:hover {
    background-color: #5d70ea;
    color: white;
    transition: 0.3s ease;
}

#code-container-head {
    width: 100%;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;  
    gap: 20px;
}

#heading h2 {
    font-size: 32px;
    margin: 2px;
    color: #7b7b7b;
}

#heading label {
    font-size: 16px;
    margin: 2px;
    color: #ff7a32;
}

#container {
    display: flex;
    gap: 15px; /* Space between buttons and number */
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    background-color: #5d70ea; /* Green */
    color: white;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.btn:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.number {
    width: 80px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    border: 1.5px solid #5d70ea;
    border-radius: 10px;
    padding: 14px;
    display: inline-block;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}
